---
/* Icons */
import GitHubIcon from '../assets/icons/GitHub.astro'
import MailIcon from '../assets/icons/Mail.astro'
import LinkedInIcon from '../assets/icons/LinkedIn.astro'
import CVIcon from '../assets/icons/CV.astro'
/* Frontend */
import HTML5Icon from '../assets/icons/Frontend/HTML5.astro'
import CSS3Icon from '../assets/icons/Frontend/CSS3.astro'
import JavaScriptIcon from '../assets/icons/Frontend/JavaScript.astro'
import TailwindIcon from '../assets/icons/Frontend/Tailwind.astro'
import ReactIcon from '../assets/icons/Frontend/ReactJS.astro'
import VueIcon from '../assets/icons/Frontend/VueJS.astro'
import AstroIcon from '../assets/icons/Frontend/AstroJS.astro'
import AlpineIcon from '../assets/icons/Frontend/AlpineJS.astro'
import IonicIcon from '../assets/icons/Frontend/Ionic.astro'
import LivewireIcon from '../assets/icons/Frontend/Livewire.astro'
import Markdown from '../assets/icons/Frontend/Markdown.astro'
/* Backend */
import PHPIcon from '../assets/icons/Backend/PHP.astro'
import LaravelIcon from '../assets/icons/Backend/Laravel.astro'
import MySQLIcon from '../assets/icons/Backend/MySQL.astro'
import StrapiIcon from '../assets/icons/Backend/StrapiJS.astro'
import NodeJSIcon from '../assets/icons/Backend/NodeJS.astro'
import ExpressJSIcon from '../assets/icons/Backend/ExpressJS.astro'
import NextJSIcon from '../assets/icons/Backend/NextJS.astro'
import CPlusPlusIcon from '../assets/icons/Backend/CPlusPlus.astro'
import PythonIcon from '../assets/icons/Backend/Python.astro'
/* Learning */
import DockerIcon from '../assets/icons/Learning/Docker.astro'
import RustIcon from '../assets/icons/Learning/Rust.astro'
import TauriIcon from '../assets/icons/Learning/Tauri.astro'
import TypeScriptIcon from '../assets/icons/Learning/TypeScript.astro'
import TensorFlowIcon from '../assets/icons/Learning/TensorFlow.astro'
/* Tools */
import VSCodeIcon from '../assets/icons/Tools/VSCode.astro'
import GitIcon from '../assets/icons/Tools/Git.astro'
import NPMIcon from '../assets/icons/Tools/NPM.astro'
import LinuxIcon from '../assets/icons/Tools/Linux.astro'
import BashIcon from '../assets/icons/Tools/Bash.astro'
import NotionIcon from '../assets/icons/Tools/Notion.astro'
import PostManIcon from '../assets/icons/Tools/PostMan.astro'
import LunacyIcon from '../assets/icons/Tools/Lunacy.astro'
/* Artificial Intelligence */
import HuggingFaceIcon from '../assets/icons/AI/HuggingFace.astro'
import PyTorchIcon from '../assets/icons/AI/PyTorch.astro'
import OpenAIIcon from '../assets/icons/AI/OpenAI.astro'
import NvidiaIcon from '../assets/icons/AI/Nvidia.astro'
import MistralAIIcon from '../assets/icons/AI/MistralAI.astro'
import OllamaIcon from '../assets/icons/AI/Ollama.astro'
/* Components */
import Layout from '../layouts/Layout.astro'
import ContactItems from '../components/ContactItems.astro'
import Timeline from '../components/Timeline.astro'
import TimelineItem from '../components/TimelineItem.astro'
import Technologies from '../components/Technologies.astro'
import Project from '../components/Project.astro'
import TechItem from '../components/TechItem.astro'
---
<!-- flex flex-wrap gap-2 items-end justify-start lx:justify-center mx-auto px-10 xl:px-0 -->
<Layout pageTitle='Home' pageContent='Portfolio Jovan Lopez'>
	
	<main class="flex flex-col items-start justify-center lg:flex-row lg:items-center gap-10  w-full mb-10 mt-40" >
		
		<img src="./images/profile.jpg" class="h-48 lg:h-60 self-start border-4 border-neutral-800" alt="Jovan Lopez Image Profile">
		
		<div class="w-fit">
			<h2 class="mb-2 md:mb-2 text-2xl font-semibold text-sky-600 ">Software Developer</h2>
			<h1 class="mb-4 md:mb-4 text-4xl sm:text-5xl font-bold text-neutral-800  ">Jovan Lopez</h1>
			<p class="max-w-screen-md text-lg sm:text-xl  text-neutral-900 text-pretty font-semibold">+4 years of experience, I have led software development projects with a focus on creating applications that enhance innovation and optimize business processes. My trajectory has been centered on delivering effective and reliable solutions that address the specific needs of each client.</p>
			
		</div>

	</main>

	<section class="w-full mx-auto  mb-10">
		
		<div class=" w-fit max-w-7xl mx-auto flex flex-wrap gap-y-3 gap-x-5 ">
			<ContactItems href="https://github.com/jovanlopez32" text="GitHub">
				<GitHubIcon slot='svg' class="size-6" />
			</ContactItems>
	
			<ContactItems href="https://www.linkedin.com/in/jovanlopez32/" text="LinkedIn">
				<LinkedInIcon slot='svg' class="size-6" />
			</ContactItems>
	
			<ContactItems href="mailto:everest.studio32@gmail.com" text="everest.studio32@gmail.com">
				<MailIcon slot='svg' class="size-6" />
			</ContactItems>
		
			<ContactItems href="https://github.com/jovanlopez32" text="English CV">
				<CVIcon slot='svg' class="size-6" />
			</ContactItems>
			<ContactItems href="https://github.com/jovanlopez32" text="Spanish CV">
				<CVIcon slot='svg' class="size-6" />
			</ContactItems>
		</div>	
			
	</section>

	<section id="experience" class="flex items-center justify-center mb-20 pt-10 mx-auto w-full max-w-5xl">
		<Timeline title='Experience' subtitle='The first is the first' >
			<TimelineItem company='Neuuni Universidad' dateStart='May 2022' dateEnd='Present'>
				<div slot="description">
					<ul class="list-disc ml-4">
						<li class="mt-3">In charge of the development and maintenance of a real-time CRM for prospect tracking, integrating social media APIs to enhance usability. Implemented a reporting system to measure user and prospect progress, facilitating strategic decision-making for the marketing department.</li>
						<li class="mt-3">Implementing and developing tools for each department to streamline and automate their daily activities. </li>
						<li class="mt-3">Supporting administrative, academic, and student personnel in collecting data to help identify areas for improvement. </li>
						<li class="mt-3">Analyzing and proposing projects to enhance and innovate the institution.</li>
					</ul>
					<h2 class="my-4 font-semibold">Artificial Intelligence:</h2>
					<ul class="list-disc ml-4">
						<li class="mt-3">Developing AI-driven tools for process improvement.</li>
						<li class="mt-3">In charge of developing a chatbot for customer service, student assistance, and academic support.</li>
						<li class="mt-3">Training Language Models (LM) using data from the institution.</li>
					</ul>
				</div>
			</TimelineItem>

			<TimelineItem company='Gora S.A. de C.V.' dateStart='July 2021' dateEnd='May 2022'>
				<div slot="description">
					<ul class="list-disc ml-4">
						<li class="mt-3">Development of certain modules of the company's platform for resource management.</li>
						<li class="mt-3">Database maintenance, as well as system error correction.</li>
						<li class="mt-3">In charge of deploying the application to another cloud server.</li>
					</ul>
				</div>
			</TimelineItem>

			<TimelineItem company='Centro de Salud Universitario (UASLP)' dateStart='February 2020' dateEnd='July 2020'>
				<div slot="description">
					<ul class="list-disc ml-4">
						<li class="mt-3">Improving and adapting an existing system for patient management and medical records.</li>
						<li class="mt-3">Adapting the database structure to enhance scalability</li>
						<li class="mt-3">Documenting the development of the application.</li>
					</ul>
				</div>
			</TimelineItem>

			<TimelineItem company='Hackaton SLP' dateStart='March 2019' dateEnd='March 2019'>
				<div slot="description">
					<ul class="list-disc ml-4">
						<li class="mt-3">Designing the interface of a mobile application that allows users to visualize a map with the safest routes in the city.</li>
						<li class="mt-3">Development of the user tracking module on the map.</li>
						<li class="mt-3">Development of the emergency module.</li>
					</ul>
				</div>
			</TimelineItem>

			<TimelineItem company='Lavaportex' dateStart='February 2018' dateEnd='May 2019'>
				<div slot="description">
					<ul class="list-disc ml-4">
						<li class="mt-3">Company equipment maintenance.</li>
						<li class="mt-3">Support in data management and process documentation.</li>
					</ul>
				</div>
			</TimelineItem>
		</Timeline>
	</section>
	
	<!-- Technologies -->
	<section class=" flex flex-col items-center justify-center mb-20 ">
		<div class="w-full max-w-screen-lg ">

			<div class=" text-left mb-5 before:block before:w-24 before:h-3 before:mb-5  before:mx-0 before:bg-sky-600"></div>
				<h3 class="text-4xl font-semibold">Technologies</h3>
				<p class="text-pretty text-lg mt-3 mb-10">In my journey through the web development universe, I have cultivated experience and skills in a wide range of cutting-edge technologies. My technology stack includes:</p>
			</div>
			
			<div class="grid  grid-cols-1 md:grid-cols-2 gap-5 max-w-screen-lg --> ">
		
				<Technologies title="Frontend" colorSquare="bg-sky-600" >
					<div class="flex flex-col items-center gap-3">
						<HTML5Icon class="size-12" />
						<p class="font-bold">HTML5</p>
					</div>
					<div class="flex flex-col items-center gap-3">
						<CSS3Icon class="size-12" />
						<p class="font-bold">CSS3</p>
					</div>
					<div class="flex flex-col items-center gap-3">
						<JavaScriptIcon class="size-12" />
						<p class="font-bold">JavaScript</p>
					</div>
					<div class="flex flex-col items-center gap-3">
						<TailwindIcon class="size-12" />
						<p class="font-bold">TailwindCSS</p>
					</div>
					<div class="flex flex-col items-center gap-3">
						<ReactIcon class="size-12" />
						<p class="font-bold">ReactJS</p>
					</div>
					<div class="flex flex-col items-center gap-3">
						<VueIcon class="size-12" />
						<p class="font-bold">VueJS</p>
					</div>
					<div class="flex flex-col items-center gap-3">
						<AstroIcon class="size-12" />
						<p class="font-bold">AstroJS</p>
					</div>
					<div class="flex flex-col items-center gap-3">
						<AlpineIcon class="size-12" />
						<p class="font-bold">AlpineJS</p>
					</div>
					<div class="flex flex-col items-center gap-3">
						<IonicIcon class="size-12" />
						<p class="font-bold">IonicJS</p>
					</div>
					<div class="flex flex-col items-center gap-3">
						<LivewireIcon class="size-12" />
						<p class="font-bold">Livewire</p>
					</div>
					<div class="flex flex-col items-center gap-3">
						<Markdown class="size-12" />
						<p class="font-bold">Markdown</p>
					</div>

				</Technologies>

				<Technologies title="Backend" colorSquare="bg-red-600">
					<div class="flex flex-col items-center gap-3">
						<LaravelIcon class="size-12" />
						<p class="font-bold">Laravel</p>
					</div>
					<div class="flex flex-col items-center gap-3">
						<PHPIcon class="size-12" />
						<p class="font-bold">PHP</p>
					</div>
					<div class="flex flex-col items-center gap-3">
						<MySQLIcon class="size-12" />
						<p class="font-bold">MySQL</p>
					</div>
					<div class="flex flex-col items-center gap-3">
						<NodeJSIcon class="size-12" />
						<p class="font-bold">NodeJS</p>
					</div>
					<div class="flex flex-col items-center gap-3">
						<ExpressJSIcon class="size-12" />
						<p class="font-bold">ExpressJS</p>
					</div>
					<div class="flex flex-col items-center gap-3">
						<NextJSIcon class="size-12" />
						<p class="font-bold">NextJS</p>
					</div>
					<div class="flex flex-col items-center gap-3">
						<StrapiIcon class="size-12" />
						<p class="font-bold">StrapiJS</p>
					</div>
					<div class="flex flex-col items-center gap-3">
						<PythonIcon class="size-12" />
						<p class="font-bold">Python</p>
					</div>
					<div class="flex flex-col items-center grow  gap-3">
						<CPlusPlusIcon class="size-12" />
						<p class="font-bold">C & C++</p>
					</div>
				</Technologies>

				<Technologies title="Learning" colorSquare="bg-rose-400">
					<div class="flex flex-col items-center gap-3">
						<DockerIcon class="size-12" />
						<p class="font-bold">Docker</p>
					</div>
					<div class="flex flex-col items-center gap-3">
						<TypeScriptIcon class="size-12" />
						<p class="font-bold">TypeScript</p>
					</div>

					<div class="flex flex-col items-center gap-3">
						<RustIcon class="size-12" />
						<p class="font-bold">Rust</p>
					</div>

					<div class="flex flex-col items-center gap-3">
						<TauriIcon class="size-12" />
						<p class="font-bold">Tauri</p>
					</div>

					<div class="flex flex-col items-center gap-3">
						<TensorFlowIcon class="size-12" />
						<p class="font-bold">TensorFlow</p>
					</div>
				</Technologies>

				<Technologies title="Tools" colorSquare="bg-orange-500">
					<div class="flex flex-col items-center gap-3">
						<GitIcon class="size-12" />
						<p class="font-bold">Git</p>
					</div>
					<div class="flex flex-col items-center gap-3">
						<BashIcon class="size-12" />
						<p class="font-bold">Bash</p>
					</div>
					<div class="flex flex-col items-center gap-3">
						<PostManIcon class="size-12" />
						<p class="font-bold">Postman</p>
					</div>
					<div class="flex flex-col items-center gap-3">
						<NotionIcon class="size-12" />
						<p class="font-bold">Notion</p>
					</div>
					<div class="flex flex-col items-center gap-3">
						<LunacyIcon class="size-12" />
						<p class="font-bold">Lunacy</p>
					</div>
					<div class="flex flex-col items-center gap-3">
						<NPMIcon class="size-12" />
						<p class="font-bold">npm</p>
					</div>
					<div class="flex flex-col items-center gap-3">
						<VSCodeIcon class="size-10" />
						<p class="font-bold">VSCode</p>
					</div>
					<div class="flex flex-col items-center gap-3">
						<LinuxIcon class="size-10" />
						<p class="font-bold">Linux</p>
					</div>	
				</Technologies>

				<Technologies title="Artificial Intelligence" tworows="yes" colorSquare="bg-green-600">
					
					<div class="w-fit grow grid grid-cols-2 sm:grid-cols-4 place-items-center gap-y-5">
						<div class="flex flex-col items-center w-fit gap-3">
							<HuggingFaceIcon class="size-10" />
							<p class="font-bold text-xs">HuggingFace</p>
						</div>
						<div class="flex flex-col items-center w-fit gap-3">
							<PyTorchIcon class="size-10" />
							<p class="font-bold text-xs">PyTorch</p>
						</div>

						<div class="flex flex-col items-center w-fit gap-3">
							<NvidiaIcon class="size-10" />
							<p class="font-bold text-xs">Nvidia</p>
						</div>
						<div class="flex flex-col items-center w-fit gap-3">
							<OpenAIIcon class="size-10" />
							<p class="font-bold text-xs">OpenAI (API)</p>
						</div>
						<div class="flex flex-col items-center w-fit gap-3">
							<MistralAIIcon class="size-10" />
							<p class="font-bold text-xs">Mistral AI (API)</p>
						</div>

						<div class="flex flex-col items-center w-fit gap-3">
							<PythonIcon class="size-10" />
							<p class="font-bold text-xs">Python</p>
						</div>

						<div class="flex flex-col items-center w-fit gap-3">
							<CPlusPlusIcon class="size-10" />
							<p class="font-bold text-xs">C & C++</p>
						</div>

						<div class="flex flex-col items-center w-fit gap-3">
							<OllamaIcon class="size-10" />
							<p class="font-bold text-xs">Ollama</p>
						</div>
					</div>

					<div class="max-w-md self-start text-pretty">
							<p>Although my work primarily focuses on creating applications, I have had the opportunity to work on significant artificial intelligence projects, ranging from utilizing external APIs, integrating them into applications, to fine-tuning machine learning models.</p>
					</div>
					
				</Technologies>
	
			</div>
		</div>
	</section>

	<section id="projects" class=" flex flex-col items-center justify-center mb-20 pt-20 ">
		<div class="w-full max-w-screen-lg ">
			<div class=" text-left mb-5 before:block before:w-24 before:h-3 before:mb-5  before:mx-0 before:bg-sky-600"></div>
				<h3 class="text-4xl font-semibold">Projects</h3>
				<p class="text-pretty text-lg mt-3 mb-10">This is a compilation of some of the projects I have completed throughout my career.</p>
			</div>
		</div>

		
		<div class="hidden lg:grid lg:grid-cols-9 grid-rows-9 gap-4 w-full max-w-screen-lg">
			<Project class="col-span-3 row-span-3" title="Whatssend" srcImage="./wss.png" > 
				<p slot="description" class="text-sm font-semibold text-pretty">This project focuses on facilitating the mass sending of messages via WhatsApp, addressing issues related to account blocking and delivery delays. Additionally, it aims to solve one of the main needs of marketing agencies by providing an efficient and reliable solution for mass communication with clients.</p>
				<div slot="tech" class="flex flex-wrap items-center mt-5 gap-5">
					<TechItem tech="NodeJS" >
						<NodeJSIcon slot='svg' class="size-6" />
					</TechItem>
					<TechItem tech="NodeJS" >
						<ExpressJSIcon slot='svg' class="size-6" />
					</TechItem>
					<TechItem tech="CSS3" >
						<CSS3Icon slot='svg' class="size-6" />
					</TechItem>
					<TechItem tech="JavaScript" >
						<JavaScriptIcon slot='svg' class="size-6" />
					</TechItem>
				</div>
			</Project>

			<Project class="col-span-3 row-span-3 col-start-4" title="Vocational Test AI" srcImage="./tvnevil.png"> 
				<p slot="description" class="text-sm font-semibold text-pretty">An AI-driven vocational test offers a personalized, professional, and precise experience for users. With this tool, the community can obtain valuable information about their educational and professional options, thereby facilitating informed decision-making about their academic and career future.</p>
				<div slot="tech" class="flex flex-wrap items-center mt-5 gap-5">
					<TechItem d >
						<LaravelIcon slot='svg' class="size-6" />
					</TechItem>
					<TechItem >
						<TensorFlowIcon slot='svg' class="size-6" />
					</TechItem>
					<TechItem  >
						<OpenAIIcon slot='svg' class="size-6" />
					</TechItem>
					<TechItem  >
						<VueIcon slot='svg' class="size-6" />
					</TechItem>
					<TechItem  >
						<TailwindIcon slot='svg' class="size-6" />
					</TechItem>
				</div>
			</Project>

			<Project class="col-span-3 row-span-3 col-start-7" title="Mika's Food" srcImage="./mikasfood.png">
				<p slot="description" class="text-sm font-semibold text-pretty">This pet food e-commerce platform is designed with a primary focus on user experience and interface, ensuring it is intuitive and easy to use. Our goal is to allow users to quickly and easily find the highest quality products, providing an optimal shopping experience for them and their pets.</p> 
				<div slot="tech" class="flex flex-wrap items-center mt-5 gap-3">
					<TechItem >
						<NextJSIcon slot='svg' class="size-6" />
					</TechItem>
					<TechItem >
						<ReactIcon slot='svg' class="size-6" />
					</TechItem>
					<TechItem >
						<TailwindIcon slot='svg' class="size-6" />
					</TechItem>
				</div>
			</Project>

			<Project class="col-span-6 row-span-3 row-start-4" title="Nevil AI" srcImage="./nevilai.png"> 
				<p slot="description" class="text-sm font-semibold text-pretty">ChatBot, powered by Artificial Intelligence and backed by one of the most advanced Language Models (LLM), along with other Machine Learning models, has been trained with specific data from Neuuni University. Its main objective is to provide support to the student community, professors, and administrative staff in their daily activities, both educational and administrative. This project integrates with WhatsApp to ensure greater accessibility and ease of use.</p>
				<div slot="tech" class="flex flex-wrap items-center mt-5 gap-3">
					<TechItem >
						<HuggingFaceIcon slot='svg' class="size-8" />
					</TechItem>
					<TechItem >
						<PythonIcon slot='svg' class="size-6" />
					</TechItem>
					<TechItem >
						<CPlusPlusIcon slot='svg' class="size-6" />
					</TechItem>
					<TechItem >
						<NvidiaIcon slot='svg' class="size-6" />
					</TechItem>
					<TechItem >
						<OllamaIcon slot='svg' class="size-6" />
					</TechItem>
				</div>
			</Project>

			<Project class="col-span-3 row-span-3 col-start-7 row-start-4" title="Orbit Business" srcImage="./orbit.png">
				<p slot="description" class="text-sm font-semibold text-pretty">Mini ERP designed specifically for comprehensive business management, focusing on project management and efficient control of product storage, among other fundamental procedures.</p> 
				<div slot="tech" class="flex flex-wrap items-center mt-5 gap-3">
					<TechItem >
						<LaravelIcon slot='svg' class="size-6" />
					</TechItem>
					<TechItem >
						<LivewireIcon slot='svg' class="size-6" />
					</TechItem>
					<TechItem >
						<TailwindIcon slot='svg' class="size-6" />
					</TechItem>
					<TechItem >
						<MySQLIcon slot='svg' class="size-6" />
					</TechItem>
				</div>
			</Project>

			<Project class="col-span-3 row-span-3 row-start-7" title="Neuuni Business" srcImage="./nbusiness.png"> 
				<p slot="description" class="text-sm font-semibold text-pretty">Landing page designed for lead generation, focusing on creating agreements with companies and businesses. We prioritize user experience, ensuring that navigation is simple and relevant information is easily accessible.</p>
				<div slot="tech" class="flex flex-wrap items-center mt-5 gap-3">
					<TechItem >
						<LaravelIcon slot='svg' class="size-6" />
					</TechItem>
					<TechItem >
						<TailwindIcon slot='svg' class="size-6" />
					</TechItem>
					<TechItem >
						<AlpineIcon slot='svg' class="size-6" />
					</TechItem>
				</div>
			</Project>

			<Project class="col-span-6 row-span-3 col-start-4 row-start-7" title="Everest CRM" srcImage="./everest.png"> 
				<p slot="description" class="text-sm font-semibold">This CRM is designed for the effective capture and management of leads from various platforms such as Facebook, Instagram, among others. Its main focus is on optimizing the tracking of sales closing processes, generating detailed reports on these processes. Additionally, it facilitates the retrieval of relevant data for the implementation of more effective marketing strategies.</p>
				<div slot="tech" class="flex flex-wrap items-center mt-5 gap-3">
					<TechItem >
						<LaravelIcon slot='svg' class="size-6" />
					</TechItem>
					<TechItem >
						<TailwindIcon slot='svg' class="size-6" />
					</TechItem>
					<TechItem >
						<VueIcon slot='svg' class="size-6" />
					</TechItem>
					<TechItem >
						<MySQLIcon slot='svg' class="size-6" />
					</TechItem>
				</div>
			</Project>
		</div>

		<div class=" lg:hidden grid grid-cols-1 gap-4 w-full max-w-screen-lg">
			<Project class="" title="Whatssend" srcImage="./wss.png" > 
				<p slot="description" class="text-sm font-semibold text-pretty">This project focuses on facilitating the mass sending of messages via WhatsApp, addressing issues related to account blocking and delivery delays. Additionally, it aims to solve one of the main needs of marketing agencies by providing an efficient and reliable solution for mass communication with clients.</p>
				<div slot="tech" class="flex flex-wrap items-center mt-5 gap-5">
					<TechItem tech="NodeJS" >
						<NodeJSIcon slot='svg' class="size-6" />
					</TechItem>
					<TechItem tech="NodeJS" >
						<ExpressJSIcon slot='svg' class="size-6" />
					</TechItem>
					<TechItem tech="CSS3" >
						<CSS3Icon slot='svg' class="size-6" />
					</TechItem>
					<TechItem tech="JavaScript" >
						<JavaScriptIcon slot='svg' class="size-6" />
					</TechItem>
				</div>
			</Project>

			<Project class="" title="Vocational Test AI" srcImage="./tvnevil.png"> 
				<p slot="description" class="text-sm font-semibold text-pretty">An AI-driven vocational test offers a personalized, professional, and precise experience for users. With this tool, the community can obtain valuable information about their educational and professional options, thereby facilitating informed decision-making about their academic and career future.</p>
				<div slot="tech" class="flex flex-wrap items-center mt-5 gap-5">
					<TechItem d >
						<LaravelIcon slot='svg' class="size-6" />
					</TechItem>
					<TechItem >
						<TensorFlowIcon slot='svg' class="size-6" />
					</TechItem>
					<TechItem  >
						<OpenAIIcon slot='svg' class="size-6" />
					</TechItem>
					<TechItem  >
						<VueIcon slot='svg' class="size-6" />
					</TechItem>
					<TechItem  >
						<TailwindIcon slot='svg' class="size-6" />
					</TechItem>
				</div>
			</Project>

			<Project class="" title="Mika's Food" srcImage="./mikasfood.png">
				<p slot="description" class="text-sm font-semibold text-pretty">This pet food e-commerce platform is designed with a primary focus on user experience and interface, ensuring it is intuitive and easy to use. Our goal is to allow users to quickly and easily find the highest quality products, providing an optimal shopping experience for them and their pets.</p> 
				<div slot="tech" class="flex flex-wrap items-center mt-5 gap-3">
					<TechItem >
						<NextJSIcon slot='svg' class="size-6" />
					</TechItem>
					<TechItem >
						<ReactIcon slot='svg' class="size-6" />
					</TechItem>
					<TechItem >
						<TailwindIcon slot='svg' class="size-6" />
					</TechItem>
				</div>
			</Project>

			<Project class="" title="Nevil AI" srcImage="./nevilai.png"> 
				<p slot="description" class="text-sm font-semibold text-pretty">ChatBot, powered by Artificial Intelligence and backed by one of the most advanced Language Models (LLM), along with other Machine Learning models, has been trained with specific data from Neuuni University. Its main objective is to provide support to the student community, professors, and administrative staff in their daily activities, both educational and administrative. This project integrates with WhatsApp to ensure greater accessibility and ease of use.</p>
				<div slot="tech" class="flex flex-wrap items-center mt-5 gap-3">
					<TechItem >
						<HuggingFaceIcon slot='svg' class="size-8" />
					</TechItem>
					<TechItem >
						<PythonIcon slot='svg' class="size-6" />
					</TechItem>
					<TechItem >
						<CPlusPlusIcon slot='svg' class="size-6" />
					</TechItem>
					<TechItem >
						<NvidiaIcon slot='svg' class="size-6" />
					</TechItem>
					<TechItem >
						<OllamaIcon slot='svg' class="size-6" />
					</TechItem>
				</div>
			</Project>

			<Project class="" title="Orbit Business" srcImage="./orbit.png">
				<p slot="description" class="text-sm font-semibold text-pretty">Mini ERP designed specifically for comprehensive business management, focusing on project management and efficient control of product storage, among other fundamental procedures.</p> 
				<div slot="tech" class="flex flex-wrap items-center mt-5 gap-3">
					<TechItem >
						<LaravelIcon slot='svg' class="size-6" />
					</TechItem>
					<TechItem >
						<LivewireIcon slot='svg' class="size-6" />
					</TechItem>
					<TechItem >
						<TailwindIcon slot='svg' class="size-6" />
					</TechItem>
					<TechItem >
						<MySQLIcon slot='svg' class="size-6" />
					</TechItem>
				</div>
			</Project>

			<Project class="" title="Neuuni Business" srcImage="./nbusiness.png"> 
				<p slot="description" class="text-sm font-semibold text-pretty">Landing page designed for lead generation, focusing on creating agreements with companies and businesses. We prioritize user experience, ensuring that navigation is simple and relevant information is easily accessible.</p>
				<div slot="tech" class="flex flex-wrap items-center mt-5 gap-3">
					<TechItem >
						<LaravelIcon slot='svg' class="size-6" />
					</TechItem>
					<TechItem >
						<TailwindIcon slot='svg' class="size-6" />
					</TechItem>
					<TechItem >
						<AlpineIcon slot='svg' class="size-6" />
					</TechItem>
				</div>
			</Project>

			<Project class="" title="Everest CRM" srcImage="./everest.png"> 
				<p slot="description" class="text-sm font-semibold">This CRM is designed for the effective capture and management of leads from various platforms such as Facebook, Instagram, among others. Its main focus is on optimizing the tracking of sales closing processes, generating detailed reports on these processes. Additionally, it facilitates the retrieval of relevant data for the implementation of more effective marketing strategies.</p>
				<div slot="tech" class="flex flex-wrap items-center mt-5 gap-3">
					<TechItem >
						<LaravelIcon slot='svg' class="size-6" />
					</TechItem>
					<TechItem >
						<TailwindIcon slot='svg' class="size-6" />
					</TechItem>
					<TechItem >
						<VueIcon slot='svg' class="size-6" />
					</TechItem>
					<TechItem >
						<MySQLIcon slot='svg' class="size-6" />
					</TechItem>
				</div>
			</Project>
		</div>
		
	
	</section>


	


</Layout>
