---
import logoEverest from "../assets/images/Everest.svg";
---


<header class="flex justify-between items-center py-4 w-[1120px] mx-auto">
    <img src={logoEverest.src} alt="logoEverest" class="rounded-full w-8 h-8">
    <nav class="flex flex-row gap-x-10 font-semibold">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
</header>